@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --color-blue-dark: hsl(238, 29%, 16%);
  --color-red-soft: hsl(14, 88%, 65%);
  --color-violet-soft: hsl(273, 75%, 66%);
  --color-blue-soft: hsl(240, 73%, 65%);
  --color-gray-dark-2: hsl(237, 12%, 33%);
  --color-gray-dark: hsl(240, 6%, 50%);
  --color-gray-light: hsl(240, 5%, 91%);
  --font-display: "Kumbh Sans", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  min-height: 100%;
  font-family: var(--font-display);
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color-violet-soft)), to(var(--color-blue-soft)));
  background: linear-gradient(180deg, var(--color-violet-soft), var(--color-blue-soft));
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 144rem;
  min-height: 100vh;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: white;
  border-radius: 2rem;
  position: relative;
  max-width: 95rem;
  margin: 2rem auto;
}

@media screen and (max-width: 60rem) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: none;
    margin: 10em;
  }
}

.card > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.card__fig {
  background: url("./images/bg-pattern-desktop.svg") 110% 75%/190% no-repeat;
  overflow: hidden;
  position: relative;
  min-width: 45rem;
}

@media screen and (max-width: 60rem) {
  .card__fig {
    min-height: 25rem;
    background: url("./images/bg-pattern-mobile.svg") 50% 0 no-repeat;
    overflow: visible;
  }
}

.card__img {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-15%, -50%);
          transform: translate(-15%, -50%);
}

@media screen and (max-width: 60rem) {
  .card__img {
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -57.5%);
            transform: translate(-50%, -57.5%);
    height: 100%;
    width: 100%;
  }
}

.card__floating {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

@media screen and (max-width: 60rem) {
  .card__floating {
    display: none;
  }
}

.card__faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  overflow: hidden;
  max-width: 40rem;
  min-height: 62rem;
  padding: 7.5rem 10rem 7.5rem 0rem;
}

@media screen and (max-width: 60rem) {
  .card__faq {
    padding: 5rem 2rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    min-height: auto;
  }
}

.card__title {
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}

.card__list {
  list-style: none;
  margin-top: 2rem;
}

.card__item {
  border-bottom: 1px solid var(--color-gray-light);
  padding: 2rem 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card__question {
  color: var(--color-gray-dark-2);
  font-weight: 400;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.card__answer {
  height: 0;
  opacity: 0;
  font-size: 1.2rem;
  color: var(--color-gray-dark);
  margin-top: 1rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.card__icon {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.card__item.active > .card__question {
  font-weight: 700;
  color: var(--color-blue-dark);
}

.card__item.active .card__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card__item.active > .card__answer {
  display: block;
  opacity: 1;
  height: unset;
}
/*# sourceMappingURL=style.css.map */